[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_15_forkin
	branch = main
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work15_forkin.git
	branch = main
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/15_forkin.git
	branch = main
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/forkin.git
	branch = master
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/15_forkin.git
	branch = main
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/15_forkin
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_forking.git
	branch = main
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/15_forkin_J.git
	branch = main
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/15_forkin_vj.git
	branch = master
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/15_forkin_zhangAle
	branch = master
